/* app css stylesheet */
body{
  background: #663300;
}

.well {
	background: #cc9900;
	border: #663300;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#curr {
    width: 30%;
    height: 30%;
    padding-right: 5px;
}

.display {
    height: 200px;
    background-color: lemonchiffon;
    /* padding-top: 20px; */
    border-radius: 20px;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-top: 5%;
    text-align: center;
}

.results {
    border-radius: 20px;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 25px;
    text-align: center;
}

.page-footer {
  background: #1d7303;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
}

 .typeahead .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }




